[user]
	name = tedertree
	email = tendertree@gmail.com
	[column]  
ui = auto  
[branch]  
sort = -committerdate  
[tag]  
sort = version:refname  
[init]  
defaultBranch = main  
[diff]  
algorithm = histogram  
colorMoved = plain  
mnemonicPrefix = true  
renames = true  
[push]  
default = simple  
autoSetupRemote = true  
followTags = true  
[fetch]  
prune = true  
pruneTags = true  
all = true  

# 쓰지 않을 이유가?  

[help]  
autocorrect = prompt  
[commit]  
verbose = true  
[rerere]  
enabled = true  
autoupdate = true  
[core]  
excludesfile = ~/.gitignore  
[rebase]  
autoSquash = true  
autoStash = true  
updateRefs = true  

# 개인 취향에 따른 설정 (필요 시 주석 해제하고 사용)  

[core]  
# fsmonitor = true  
# untrackedCache = true  
[merge]  
# (Git 버전이 2.3 미만인 경우 ‘diff3’ 사용)  
# conflictstyle = zdiff3  
[pull]  
# rebase = true
