set incsearch
let mapleader = " "
set clipboard+=unnamed 
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'

noremap m h
noremap n j
noremap e k
noremap i l
""hjlk

noremap d c
noremap f e 
noremap j y 
noremap k n 
noremap l u 
noremap n j 
noremap o ;
noremap p r 
noremap r s
noremap s "_d
noremap ss "_dd 
noremap t f
noremap u u 
noremap y o
noremap h m
 
noremap ; :
noremap : p 


map <leader>o <action>(ActivateStructureToolWindow)
map <leader>q <action>(SearchEverywhere)
nnoremap ,h :NERDTreeToggle<CR>
vnoremap ss dd
nnoremap dd cc
vnoremap dd cc
nnoremap gt gf




